<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Clover Bot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="header">
      <h1>Clover Bot</h1>
      <p>How can I help?</p>
    </div>
    <div class="grid-wrapper">
      <div class="grid-container">
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/thumb_down.png') }}"
            alt="Thumb Down"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/mask.png') }}"
            alt="Mask"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/thumb_up.png') }}"
            alt="Thumb Up"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/left_arm.png') }}"
            alt="Left Arm"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/left_leg.png') }}"
            alt="Left Leg"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/mask.png') }}"
            alt="Mask"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/help.png') }}"
            alt="Help"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/right_arm.png') }}"
            alt="Right Arm"
          />
        </button>
        <button class="grid-item">
          <img
            src="{{ url_for('static', filename='buttons/right_leg.png') }}"
            alt="Right Leg"
          />
        </button>
      </div>
    </div>
  </body>
</html>
